<!DOCTYPE html>

<html>
 <head>
  <title>【公式】NOAHL-ノアル-</title>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
 </head>
 <body>
 <center>

  <p><a target="_brank" href="https://www.noahl.jp/?utm_source=mailmagazine&utm_medium=email"><img src="https://noahl.itembox.design/item/noahl_logo.png" alt="NOAHL(ノアル)公式サイト" width="30%" border="0"></a><br>
  </p>
  <hr><br>
</center>
<!-- ↑↑↑　触らない　↑↑↑ -->

<center>
<a target="_brank" href="https://www.noahl.jp/c/arrival/new?utm_source=mailmagazine&utm_medium=email"><img width="95%" src="https://tshop.r10s.jp/noahl/cabinet/banner/new_main.jpg" alt="NOAHL春コレクション" border="0"></a>
<br><br>


<font color="#625142" size="4"><b>3.18 New arrival</b></font><br>
<font color="#625142" size="3">mimi by NOAHL 新作アイテムをCHECK ▽</font><br>
<br>
<!-- 「2wayメッシュニットカーディガン」ここから -->
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
   <td align="center" width="4%"></td>
   <td width="40%" align="center" valign="top">
    <a target="_brank" href="https://www.noahl.jp/c/arrival/new/nlmtp014-26021?utm_source=mailmagazine&utm_medium=email"><img width="100%" src="https://image.rakuten.co.jp/noahl/cabinet/shohin/2026/202603/nlmtp014baby-1.jpg" border="0"></a>
   </td>
   <td align="center" width="2%"></td>
   <td width="40%" align="center" valign="top">
    <a target="_brank" href="https://www.noahl.jp/c/arrival/new/nlmtp014-26022?utm_source=mailmagazine&utm_medium=email"><img width="100%" src="https://image.rakuten.co.jp/noahl/cabinet/shohin/2026/202603/nlmtp014kids-1.jpg" border="0"></a>
   </td>
   <td align="center" width="4%"></td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
   <td align="center" width="4%"></td>
   <td width="40%" align="center" valign="top">
    <a target="_brank" href="https://www.noahl.jp/c/arrival/new/nlmtp014-26023?utm_source=mailmagazine&utm_medium=email"><img width="100%" src="https://image.rakuten.co.jp/noahl/cabinet/shohin/2026/202603/nlmtp014lad-1.jpg" border="0"></a>
   </td>
   <td align="center" width="2%"></td>
   <td width="40%" align="center" valign="top">
    <a target="_brank" href="https://www.noahl.jp/c/arrival/new/nlmtp014-26024?utm_source=mailmagazine&utm_medium=email"><img width="100%" src="https://image.rakuten.co.jp/noahl/cabinet/shohin/2026/202603/nlmtp014mens-1.jpg" border="0"></a>
   </td>
   <td align="center" width="4%"></td>
  </tr>
</table>
<br>
<a href="https://www.noahl.jp/p/search?keyword=mimi?utm_source=mailmagazine&utm_medium=email" style="text-decoration: none;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color: #b09d8e; border-radius: 80px;">
    <tr>
      <td align="center" style="padding: 18px 80px;"> <font color="#ffffff" style="font-size: 18px; letter-spacing: 3px; font-weight: bold;">ITEM CHECK >></font> </td>
    </tr>
  </table>
</a>
<br><br>

<!-- 「2WAYオフショルギャザーチュニックブラウス」ここまで -->




<!-- ↓↓↓　公式特集　↓↓↓ -->
<font size="4" color="#625142"><b>TOPICS</b></font><br>
	 <font size="3" color="#625142">今すぐ役立つ情報を紹介中♪</font>
	</center>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
  <tr>
   <td align="center" width="2%"></td>
   <td width="46%" align="center" valign="top">
    <a target="_brank" href="https://www.noahl.jp/c/season/spring_summer/spring?utm_source=mailmagazine&utm_medium=email"><img width="100%" src="https://image.rakuten.co.jp/noahl/cabinet/top/spring.jpg" border="0"></a>
   </td>
	<td align="center" width="2%"></td>
   <td width="46%" align="center" valign="top">
    <a target="_brank" href="https://www.noahl.jp/c/topics/color_scheme?utm_source=mailmagazine&utm_medium=email"><img width="100%" src="https://image.rakuten.co.jp/noahl/cabinet/feature/color_scheme/color-scheme.jpg" border="0"></a>
   </td>


   <td align="center" width="1%"></td>
  </tr><br>
	<tr>
   <td align="center" width="1%"></td>
   <td width="46%" align="center" valign="top">
    <a target="_brank" href="https://zozo.jp/brand/noahl/?utm_source=mailmagazine&utm_medium=email"><img width="100%" src="https://noahl.itembox.design/item/zozo_sq.jpg" border="0"></a>
   </td>
   <td align="center" width="1%"></td>
   <td width="46%" align="center" valign="top">
    <a target="_brank" href="https://www.noahl.jp/c/topics/ceremony?utm_source=mailmagazine&utm_medium=email"><img width="100%" src="https://image.rakuten.co.jp/noahl/cabinet/feature/ceremony/occation2026.jpg" border="0"></a>
   </td>
   <td align="center" width="1%"></td>
  </tr>
</table>
<br><br><br>

<!-- ↓↓↓　LINE誘導　↓↓↓ -->
 <center>
  <font size="3" color="#625142">▼ NOAHL公式LINEお友だち登録で ▼<br><b>10％OFFクーポンプレゼント</b><br></font>
<br>
  <a href="https://lin.ee/Ubkac4I?utm_source=mailmagazine&amp;utm_medium=email?utm_source=mailmagazine&utm_medium=email" target="_brank"><img src="https://image.rakuten.co.jp/noahl/cabinet/fs/line_long2.jpg" width="100%" alt="NOAHL公式LINEお友達登録で10%OFFクーポンプレゼント"></a><br><br>
 </center>
<!-- ↑↑↑　LINE誘導　↑↑↑ -->

<br>
<!-- ↓↓↓　サイト誘導　↓↓↓ -->
 <center>
  <font size="3" color="#625142">▽ NOAHL公式サイトはコチラから ▽</font>
<br>
<br>
<a href="https://www.noahl.jp/?utm_source=mailmagazine&amp;utm_medium=email" style="text-decoration: none;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color: #b09d8e; border-radius: 50px;">
    <tr>
      <td align="center" style="padding: 30px 70px;">
        <font color="#ffffff" size="10" style="font-size: 18px; letter-spacing: 10px; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: bold;">
          CHECK >>
        </font>
      </td>
    </tr>
  </table>
</a><br><br>
  <font size="3" color="#625142">▼ NOAHL公式サイト会員登録で ▼<br><b>500ポイントプレゼント</b><br></font>
<br>
  <a href="https://www.noahl.jp/p/register?utm_source=mailmagazine&amp;utm_medium=email?utm_source=mailmagazine&utm_medium=email" target="_brank"><img src="https://image.rakuten.co.jp/noahl/cabinet/fs/imgrc0088303279.jpg" width="100%" alt="NOAHL公式LINEお友達登録で10%OFFクーポンプレゼント"></a>
<br>
<br>
  <table width="100%" border="0" cellpadding="10" cellspacing="0">
   <tr>
    <td align="center" bgcolor="#97887d">
     <font size="3" color="#f5f1ee"><b>全 品 送 料 無 料</b></font>
    </td>
   </tr>
  </table>
 </center><br>

 <font size="2" color="#845849">
	 ※メルマガ配信ではお得な情報をお届けしております。<br>
	 ※メルマガの変更・解除は<a target="_brank" href="https://www.noahl.jp/p/newsletter/unsubscribe?utm_source=mailmagazine&utm_medium=email" style="color: #845849;">コチラ</a></font>
<br>
<br>
<br>
 </body>
</html>
